<html>
  <head>
    <title>Creating Blog Page - detail</title>
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="/public/style.css" />
     <link rel="shortcut icon" href="/public/assett/logo.png" type="image/x-icon">
  </head>
  <body>
    <!-- NavBar --> <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid px-5">
          <a class="navbar-brand" href="/index"><img src="/public/assett/logo.png" alt="#"></a>
           <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarScroll">

            <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll px-5" style="--bs-scroll-height: 100px;">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/index">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" style="color: orangered;" href="/blog">Blog</a>
              </li>
            </ul>

            <form class="d-flex me-200 px-5">
              <a class="btn text-white px-4" style="background-color: orangered;" href="/form" type="submit">Contact Me</a>
            </form>
          </div>
        </div>
    </nav>


    <!-- Blog -->
    <div class="blog-detail">
      <div class="blog-detail-container">
        <h2>{{blog.title}}</h2>
  
        <div class="author">{{blog.post_at}} | {{blog.author}}</div>
        <img src="{{blog.image}}" alt="detail" />
        <p>
          {{blog.content}}
      </div>
    </div>
  </body>
</html>
